@font-face
{
    font-family:'Font1';
    src:url('JShinYeongBok-Regular-FD1.woff');
}

div 
{
    /*border: 1px solid white;*/
}
            
            
body
{
    background: url('image/BackGround_4.png');
    background-position: center center;
    background-size: 1920px 1080px;
}

fieldset
{
    text-align: center;
}

a:link 
{
    text-decoration: none;

}
a:visited
{
    text-decoration: none;

}
a:hover
{
    text-decoration: none;

}
            
#frame
{
    box-sizing: border-box;
    padding:10px;
    margin: 0 auto;
    width:1000px;
    height:920px;
    background-clip: border-box;
    background: rgb(50,50,50,0.5);
    /*background: url(image/BackGround-1.png) no-repeat;
    background-position: center center;*/
}
            
#header
{
    box-sizing: border-box;
    text-align: center;
    width: 960px;
    height:160px;
    padding:10px;
    margin: 10px;
}

#rule_box
{
    box-sizing: border-box;
    text-align: left;
    width: 960px;
    height:400px;
    padding:10px;
    margin: 10px;
    color:rgb(180, 180, 180);
}

#menu
{
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.3) border-box;
    text-align: center;
    width: 960px;
    height:65px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

#menu_box_0
{
    box-sizing: border-box;
    clear:both;
    float:left;
    width: 200px;
    height:65px;
    padding:10px;
    text-align: center;
}

#menu_box_1
{
    box-sizing: border-box;
    float:left;
    width: 200px;
    height:65px;
    padding:10px;
    text-align: center;
}

#menu_box_2
{
    box-sizing: border-box;
    float:left;
    width: 220px;
    height:65px;
    padding:10px;
    text-align: center;
}

#menu_box_3
{
    box-sizing: border-box;
    float:left;
    width: 220px;
    height:65px;
    padding:10px;
    text-align: center;
}
            
#ranking_table
{
    box-sizing: border-box;
    background: rgba(200, 200, 200, 0.3);
    width: 560px;
    height:450px;
    padding: 20px; 
    clear:both;
    float: left;  
    margin: 10px;  
}

#information_table
{
    box-sizing: border-box;
    width: 370px;
    height:400px;
    padding: 20epx;  
    float: right;  
    margin: 10px;
    padding: 10px;
    background-color:  rgba(255,255,255,0.2);
    text-align: center;
}

#chating_box
{
    box-sizing: border-box;
    text-align: left;
    width: 960px;
    height:400px;
    padding:10px;
    margin: 10px;
    color:rgb(180, 180, 180);
}

.small_text
{
    font-size: 12px;
}

#login_window 
{
    text-align: left;
}

#left_block
{
    float:left;
    width: 100px;
    height: 100px;

}

#right_block
{
    float: right;
    width: 100px;
    height: 100px;
}

#register
{
    font-family: 'Font1';
    text-align: left;
    padding:20px;
    float: left;
    width: 680px;
    height:580px;
    background: rgba(255,255,255, 0.5);
    margin: 10px;
    text-align: center;
    border-radius: 20px;
}