#contents
{
    font-family: '돋움';
    width: 950px;
    height: 620px;
    margin: 10px;
    margin-top: 20px;
}

#R_nickname
{
    font-size: 25px;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
    padding:5px;
    width: 450px;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#R_nickname_div
{
    margin: 5px;
    padding-left:3px;
    float:right;
    width:180px;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255, 1);
    border-radius: 6px;
    margin-right: 105px;
}

#R_nickname_box
{
    font-family: 'Font1';
    font-size:20px;
    background-color: transparent;
    border:none;
    width:177px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}

#R_id
{
    clear:both;
    font-size: 25px;
    float:left;
    margin-left: 10px;
    padding:5px;
    width: 450px;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
}

#R_id_div
{
    margin: 5px;
    padding-left:3px;
    float:right;
    width:180px;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255, 1);
    border-radius: 6px;
    margin-right: 105px;
}

#R_id_box
{
    font-family: 'Font1';
    font-size:20px;
    background-color: transparent;
    border:none;
    width:177px;
    height: 30px;
}

#R_password
{
    clear:both;
    font-size: 25px;
    float:left;
    margin-left: 10px;
    padding:5px;
    width: 450px;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
}

#R_password_div
{
    margin: 5px;
    padding-left:3px;
    float:right;
    width:280px;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255, 1);
    border-radius: 6px;
}

#R_password_box
{
    font-family: 'Font1';
    font-size:20px;
    background-color: transparent;
    border:none;
    width:277px;
    height: 30px;
}

#Register_div
{
    text-align: center;
    margin-left: 10px;
    clear:both;
}

#L_id
{
    clear:both;
    font-size: 25px;
    float:left;
    margin-left: 10px;
    padding:5px;
    width: 450px;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
}

#L_id_div
{
    margin: 5px;
    padding-left:3px;
    float:right;
    width:280px;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255, 1);
    border-radius: 6px;
}

#L_id_box
{
    font-family: 'Font1';
    font-size:20px;
    background-color: transparent;
    border:none;
    width:277px;
    height: 30px;
}

#L_password
{
    clear:both;
    font-size: 25px;
    float:left;
    margin-left: 10px;
    padding:5px;
    width: 450px;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
}

#L_password_div
{
    margin: 5px;
    padding-left:3px;
    float:right;
    width:280px;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255, 1);
    border-radius: 6px;
}

#L_password_box
{
    font-family: 'Font1';
    font-size:20px;
    background-color: transparent;
    border:none;
    width:277px;
    height: 30px;
}